.CategoryCraetorModal{
    text-align: center;
}

.CategoryCraetorModal .exit-modal-icon{
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 15px;
    font-size: 30px;
    background: none;
    border: none;
    color: #2d3e50;
    background-color: #fff;
}

.CategoryCraetorModal .exit-modal-icon:hover{
    background-color: rgba(238, 238, 238, 0.734);
    cursor: pointer;
}

.CategoryCraetorModal h2{
    font-size: 20px;
    color: white;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    text-decoration: underline;
    margin-top: 0;
}

.CategoryCraetorModal label{
    font-family: "Source Sans Pro", sans-serif;
    color: #eee;
    font-size: 15px;
    padding: 0;
}

.CategoryCraetorModal input{
    border: 1px solid rgba(252, 252, 252, 0.4);
    background-color: #eee;
    width: 300px;
    border-radius: 3px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    color: black;
    margin: 2px;
}

.CategoryCraetorModal .category-creation-button {
    background-color: white;
    border: 3px solid black;
    padding: 10px 15px;
    color: black;
    border-radius: 12px;
    width: 200px;
    font-size: 18px;
    transition-duration: 0.4s;
}

.CategoryCraetorModal .category-creation-button:hover{
    cursor: pointer;
    background-color: wheat;
    color: black;
}
