@import url('https://fonts.googleapis.com/css2?family=Lato&family=Macondo&family=Questrial&display=swap');


.Home {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Home .coupons-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Home .page-buttons{
    margin-top: 12px;
}

.Home .page-buttons button{
    width: 85px;
    padding: 5px;
    margin: 10px 5px;
    background-color: #2d3e50;
    border-radius: 20px;
    border: 3px solid aliceblue;
    font-size: 18px;
    font-family: Lato,sans-serif;
    color: aliceblue;
}

.Home .page-buttons button:hover{
    cursor: pointer;
    background-color: #405366;
    border: 3px solid aliceblue;
}

.Home .page-buttons p{
    color: #fff;
    display: inline-flex;
    font-family: "Lato";
    font-size: 1em;
}